$mainfont: Arial, Helvetica, sans-serif;

body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 80% 20%;
    min-height: 50px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 1px 8px 1px #ccc;

    .main-menu {
        line-height: 50px;
        display: flex;
        justify-content: space-around;

        .main-menu-item {
            text-decoration: none;
            text-transform: uppercase;
            color: #3889ef;
            font-family: $mainfont;
        }

        .main-menu-item:hover, .main-menu-item:focus {
            color:#6f0505;

        }
    }

    .cart-button {
        margin: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        text-shadow: 0 0px 0 #FFF,1px 0px 1px #000;
        color: #FFF;
        background: #5D8EC7;
        border-top: none;
        border-bottom: none;
        border-right: 2px solid #FFF;
        border-left: 2px solid #FFF;
        
    }
    .cart-button:hover {
        text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;        
        background: #222;        
    }    
    
}

.goods-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    
    .goods-item{
        border: 1px solid #ccc;

        .product-image {
            width: 90%;
            display: block;
            margin: 10px auto;
        }

        .product-title {
            font-size: 24px;
            text-align: center;
            font-family: $mainfont;
        }
        
        .product-price {
            font-size: 18px;
            color: red;
            text-align: center;
            font-family: $mainfont;
        }
    }

}
